@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    font-family:'Titillium Web', sans-serif;
}

/* Barra de Navegación */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0, 0, 0.5);
    position: sticky;
    top: 0;

}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 10px 0px 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .8s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Sección Inicio */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
    height: 645px;
    justify-content: center;
    align-items: center;
    color: white;
    
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('banner_1.gif') no-repeat center center/cover;
    height: 800px;
    width: 100%;
    z-index: -1;
    opacity: .8;
    
}

.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headdings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 30px 0px 20px 0px;
}

.redes{
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 0px;
    opacity: 0%;
    height: 100%;
    background-color: black;
}

.redes h1{
    padding: 15px;
    margin-top: 70px;
    width: 150px;
    font-size: 65px;
}

.redes i{
    margin-left: 60%;
}

.redes:hover{
    opacity: 100%;
}


.redes ul{
    display: flex;
    list-style: none;
}

.redes ul li img{
    height: 70px;
    width: 70px;
    background-color: none;
    border-radius: 50px;
    margin-bottom: -18px;
    margin-top: 0px;
    margin-right: 17px;
    margin-left: 7px;
    opacity: 35%;
    
    
}
.redes ul li img:hover{
    transform: translateY(10px);
    box-shadow: 0 15px 9px rgb(247, 242, 242);
    overflow: hidden;
    opacity: 100%;
    transition: all 0.25s;
    flex-direction: column; 
}

.redes ul li a:hover{
    cursor: pointer;
    text-shadow: 0px 15px 15px rgb(247, 201, 201);
    font-weight: bold;
}

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6 ease;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(255, 250, 250);
    color: black;
    box-shadow: 0 0 5px rgb(241, 6, 6), 0 0 10px rgb(247, 111, 111), 0 0 15px rgb(247, 201, 201);
    font-weight: bold;
}

/* Sección Acerca de mí */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    background: linear-gradient(to top, white 15%, black 98%);
    color: white;
    
}

#pic{
    display: flex;
}

#pic img{
    width: 575px;
    height: 400px;
    padding: 20px;
    border-radius: 200px;
    margin: 15px 25px auto 5px;
    background-color: rgb(12, 12, 12);
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 5px;
}

#intro h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.pAboutMe{
    font-size: 22px;
    color: black;
}

/* Sección Portafolio */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .9);
    color: black;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to top, black 15%, white 99.8%);
    height: 20%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    color: white;
}

.container .card{
    width: 330px;
    height: auto;
    border-radius:  8px;
    box-shadow: 0 2px 2px rgba(15, 250, 150, 0.2);
    overflow: hidden;
    margin: 15px;
    text-align: center;
    transition: all 0.25s;
    flex-direction: column; 
    
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-weight: 600;
    margin: 10px 0px;
    text-decoration:underline solid 1px;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;

}

/* Sección Tecnologías */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(to top, white 15%, black 99.8%);
    color: white;
    height: 20%;

}

.row{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    box-sizing: border-box;
    color: black;
    margin: 5px 35px;
    font-family: 'Titillium Web', sans-serif;
    
}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 480px;
    border: 1px solid black;
    margin: 10px 0px 10px 0px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-end-end-radius: 15px;
    border-start-end-radius: 15px;
    background: linear-gradient(to bottom, white 30%, black 100%);
    background-size: 100% 200%;
    transition: all .5s;
}

.row:hover{
    background-position: left bottom;
    color: black;
    border: none;
    box-shadow: 0 0 28px rgb(75,17,17);
}

.box img{
    width: 180px;
    height: 180px;
    background-color: transparent;
}

.row ul{
    font-size: 34px;
    list-style:none; 
    font-weight: 600;
    
}

.row ul li{
    margin: 10px 30px 20px 30px;
}

.row ul li img{
    height: 55px;
    width: 55px;
    background-color: none;
    border-radius: 45px;
    margin-bottom: -18px;
    margin-top: 35px;
}

/* Sección contacto */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0,0, 0, .8);
    color: white;
    padding: 20px;
    background: linear-gradient(to top, black 15%, white 99.8%);
    color: black;
    height: 20%;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
 